body {
  background-color: rgb(253, 251, 251);
}
#cabecalho {
  position: fixed;
  top: 0;
}
#titulo {

}
#minha_foto {
  width: 300px;
  margin-top: 100px;
}
#licoes_aprendidas{
  
}
#licoes_a_aprender {

}
#rodape {
  border: 3px solid green;
  padding: 20px;
}
#line-height {
  line-height: 30px;
  font-family:monospace;
  color: blue;
  font-size: 15px;
}

